$hn-padding: 16px;
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.hn-padding {
  padding: $hn-padding;
}

.hn-fab-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2 * $hn-padding;
}
